
<%= render "layouts/errors", :object => @product %>

<%= form_for @product do |f| %>
  <div class="col-4">
    <div class="form-group">
      <%= f.label :name, :class => "form_name" %>
      <%= f.text_field :name, :class => "form-control" %>
      <%= f.label :cost, :class => "form_name" %>
      <%= f.text_field :cost, :class => "form-control" %>
      <%= f.label :country_origin, :class => "form_name" %>
      <%= f.text_field :country_origin, :class => "form-control" %>
    <span class="input-group-btn">
      <%= f.submit :class => "btn btn-primary"%>
    </span>
    </div>
  </div>
<% end %>
<p><%= link_to "Return to Products", products_path%></p>
