<div class ="card">
  <h3>Details for <h1><%= @product.name %></h1></h3>
  <p><%= link_to "Admin Edit", edit_product_path(@product) %>
    <%= link_to "Admin Delete", product_path(@product),
                           :data => {:confirm => "You sure?",
                                     :method => "delete"} %></p>
  <ul>
    <li> Currently costs: $<%= @product.cost %>.00
    <li> This wonderful product came to us from <em><%= @product.country_origin %></em>
  </ul>
</div>
