<!DOCTYPE html>
<html>
  <head>
    <title>MariosSpecialtyFoods</title>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Autour+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Autour+One|Yeseva+One" rel="stylesheet"> 
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <div class="flash-alert">
        <%= flash[:alert] %>
      </div>
      <div class="flash-notice">
        <%= flash[:notice] %>
      </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
